@import '../index.scss';

.input-label-default {
    display: flex;
    margin: 5px 0;
    flex-direction: column;
    
    .input-text-default {
        width: 100%; //Input width
        height: 40px;
        padding: 0 7px; //Input padding left
        border-width: 0;
        font-size: 16px;
        border-radius: 7px;
    
        &+label {
            cursor: text;
            display: flex;
            color: $color7;
            margin-top: 9px;
            font-size: 16px;
            margin-left: 7px; //Input padding left - Input width
            position: absolute;
            align-items: center;
            pointer-events: none;
            justify-content: center;
            transition: font-size .2s;
        }
    
        &:focus, &.min-label {
            margin-top: 0;
            padding-top: 10px;
            
            &+label {
                margin-top: 0;
                font-size: 11px;
                align-items: flex-start;
                transition: font-size .2s;
            }
        }

        &:focus {
            border-width: 2px;
            border-color: $color1;
        }

        &:read-only {
            border-width: 0;
            background-color: $color12;
        }
    }

    span {
        color: $color11;
        font-size: 12px;
        margin-left: 5px;
    }
}