.light {
    background-color: #252525;
}

.section-main {
    width: 100%;
    height: calc(100vh - 120px);
    display: flex;
}

.section-main>div {
    width: 50%;
    padding: 50px;
}

.main-text {
    display: flex;
    flex-direction: column;
}

.main-text div {
    width: 100%;
}

.main-title h1 {
    margin-bottom: 50px;
}

.main-title span {
    color: #5271ff;
}

.main-links {
    display: flex;
    flex-direction: column;
    font-size: 22px;
    align-items: center;
    background-color: #252525;
    padding: 20px 0;
    border-radius: 10px;
}

.main-links a {
    border-radius: 7px;
    padding: 5px;
    margin: 5px 40px;
}

.main-links a:hover {
    color: #5271ff;
    transform: scale(1.1);
}

.main-image {
    width: 100%;
    display: inline-block;
    margin: 4px;
}

.main-image img {
    height: 100%;
    width: auto;
    background: no-repeat center;
    background-size: cover;
}