@import '../index.scss';

//default
.modal {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    height: 100vh;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: rgba($color: $color2, $alpha: 0.8);

    &-container {
        max-width: 615px;
        max-height: 450px;
        border-radius: 15px;
        background-color: $color5;

        &__btn-close {
            top: 16px;
            width: 30px;
            height: 30px;
            border: none;
            display: flex;
            outline: none;
            cursor: pointer;
            position: relative;
            align-items: center;
            right: calc(-100% + 35px);
            background-color: transparent;

            &::before, &::after {
                width: 2px;
                height: 21px;
                content: ' ';
                position: absolute;
                background-color: $color2;
            }

            &::before {
                transform: rotate(45deg);
            }

            &::after {
                transform: rotate(-45deg);
            }
        }

        &__content {
            padding: 20px;
        }

        h1, h2, h3, h4, p, span {
            color: $color2;
        }
    }
}

//modal-login begin
.modal-login {
    display: flex;
    min-width: 500px;
    align-items: center;
    flex-direction: column;

    hr {
        width: 100%;
        height: 1px;
        border: none;
        background-color: $color10;
    }

    &__header {
        h2 {
            margin-bottom: 35px;
        }
    }

    &__body {
        width: 100%;
        margin: 10px 0;
        text-align: center;

        .input-label-default {
            margin: 20px 40px;

            .input-text-default {
                border-width: 1px;
                border-color: $color2;
            }
        }

        .div-keep-logged {
            margin-left: 40px;

            &>* {
                cursor: pointer;
            }

            label {
                color: $color2;
                margin: 0 5px;
            }
        }

        .div-btn-login {
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            
            .btn-login {
                width: 100%;
                height: 40px;
                color: $color5;
                max-width: 350px;
                border-radius: 10px;
                margin: 20px 0 10px 0;
                background-color: $color1;
            }
        }

        .btn-register {
            width: 100%;
            height: 40px;
            color: $color1;
            max-width: 350px;
            border-radius: 10px;
            margin-bottom: 20px;
            background-color: $color5;
            border: 2px $color1 solid;
        }
    }
}

//modal-search-food begin
.modal-search-food {
    display: flex;
    align-items: center;
    flex-direction: column;

    &__header {

        &>div {
            display: flex;
            margin: 10px;

            .input-label-default {
                width: 350px;
                margin-right: 0;
                
                .input-text-default {
                    border-width: 1px;
                    border-color: $color2;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;

                    &:focus {
                        padding-top: 0;
                    }
                }
            }

            .btn-search {
                padding: 10px;
                margin: 5px 0;
                color: $color5;
                background-color: $color1;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }
        }
    }
    
    hr {
        width: 100%;
        height: 1px;
        border: none;
        background-color: $color10;
    }
    
    &__body {
        width: 100%;
        height: 450px;
        margin: 10px 0;
        overflow: auto;
        max-height: 275px;
        
        .filter-foods {
            width: 100%;
            padding: 0 3px;

            &__list {
                width: 100%;

                .pair {
                    background-color: $color13;
                }
            }

            &__line {
                padding: 10px;
                cursor: pointer;

                p {
                    font-size: 12px;
                }

                &:hover {
                    background-color: $color12;

                    h4, p {
                        transform: scale(0.97);
                    }
                }
            }

            li {
                list-style: none;
            }
        }

        &::-webkit-scrollbar {
            width: 9px;
        }

        &::-webkit-scrollbar-track {
            background: $color12;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $color1;
            border-radius: 10px;

            &:hover {
                background-color: $color8;
            }
        }
    }
}


//modal-confirm-food begin
.modal-confirm-food {
    display: flex;
    align-items: center;
    flex-direction: column;
    
    &__header {
        margin-bottom: 15px;
    }
    
    hr {
        width: 100%;
        height: 1px;
        border: none;
        background-color: $color10;
    }
    
    &__body {
        height: 100%;
        display: flex;
        margin: 10px 0;
        overflow: auto;
        min-width: 400px;
        margin-top: 30px;
        max-height: 275px;
        justify-content: space-around;
        
        &>div {
            width: 40%;

            .input-label-default {
                margin: 10px 0;
                
                .input-text-default {
                    border-width: 1px;
                    border-color: $color2;

                    &:read-only {
                        border: none;
                    }
                }
            }
        }

        .save-food {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &-buttons {
                display: flex;
                flex-direction: column;

                .btn-confirm-food {
                    padding: 10px;
                    margin: 5px 0;
                    color: $color5;
                    font-size: 16px;
                    border-radius: 10px;
                    background-color: $color1;
                }
    
                .btn-back-modal {
                    width: auto;
                    height: 40px;
                    color: $color1;
                    font-size: 16px;
                    max-width: 350px;
                    border-radius: 10px;
                    margin-bottom: 20px;
                    background-color: $color5;
                    border: 2px $color1 solid;
                }
            }
        }

        &::-webkit-scrollbar {
            width: 9px;
        }

        &::-webkit-scrollbar-track {
            background: $color12;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $color1;
            border-radius: 10px;

            &:hover {
                background-color: $color8;
            }
        }
    }
}

//modal-confirm-cruds
.modal-confirm-crud {
    display: flex;
    padding: 10px 35px;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    &__texts {
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        img {
            width: 60px;
            margin-bottom: 30px;
        }

        span {
            margin-top: 15px;
        }
    }

    &__buttons {
        display: flex;
        margin-top: 35px;

        .btn {
            width: auto;
            height: 40px;
            display: flex;
            font-size: 20px;
            margin-top: 20px;
            margin: 0px 7px;
            user-select: none;
            padding: 15px 20px;
            border-radius: 5px;
            align-items: center;
            justify-content: center;
            border: 2px $color1 solid;
            -webkit-user-select: none;

            &:hover {
                box-shadow: 1px 1px 7px $color2;
            }
        }

        .btn-confirm {
            color: $color5;
            background-color: $color1;
        }

        .btn-cancel {
            color: $color1;
            background-color: $color5;

            &:hover {
                background-color: $color5 !important;
            }
        }
    }
}