@import './index.scss';

.icon-whatsapp {
    right: 40px;
    width: 60px;
    bottom: 40px;
    height: 60px;
    display: flex;
    z-index: 1000;
    position: fixed;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: $color9;

    &:hover {
        transform: scale(1.1);
    }

    .img-whatsapp {
        width: 35px;
        height: 35px;
    }
}